body{     background-color: #1e1e2c; }
.header-style-4 {
    background: #33313d;
}
.hm2-blog-card {
    background: #33313d !important;
}

.nav-wrapper ul li.has-submenu .submenu-wrapper.home{ 
    width:200px; left:0 ;
}
.nav-wrapper ul li.has-submenu .submenu-wrapper.theme-megamenu {
    width: 200px;
    left: 0;
}
.breadcrumb-item+.breadcrumb-item::before{ 
    content:'/' ;
}
[data-bs-theme=dark] .header-style-4 {
    background: #33313d;
    position: sticky;
    top: 0;
    z-index: 99;
}
.nav-wrapper ul li a{
    padding: 25px 25px;
}
.nav-wrapper ul li.has-submenu::after {
    right: 5px;
    color: #fff;
}
.nav-menu-4 {
    padding-right: 0;
}

.main-content-detail{}
.main-content-detail ul{ padding-left:15px; margin-bottom:1rem }
.main-content-detail ul li{ list-style:circle; }
.main-content-detail h2{ font-size:2rem }
.main-content-detail h3{ font-size:1.6rem }
.main-content-detail h4{ font-size:1.3rem }
.main-content-detail img{ max-width:100% !important; margin-bottom:1rem; height:auto; }

.img320 {
    height: 320px;
    object-fit: cover; width: 100%;
}
.img300 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img150{
    height: 150px;
    object-fit: cover; width: 100%;
}
.img250 {
    height: 250px;
    object-fit: cover; width: 100%;
}
.img200{
    height: 130px;
    width: 180px;
    object-fit: cover;
}
.flex-1{
    flex: 1;
}
.flex-column{
    display: flex;
    justify-content: space-between;
}

.text-truncate-set-1 {
    -webkit-line-clamp: 1;
}
.text-truncate-set-2 {
    -webkit-line-clamp: 2;
}
.text-truncate-set-3 {
    -webkit-line-clamp: 3;
}
.text-truncate-set {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.breadcrumb-area {
    padding: 70px 0 50px 0;
}
.hm-blog-sidebar .rounded-circle {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.a1212{
    padding: 0 0 2rem;
    position: relative;
}

.a1212 span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.a1212 img{ border-radius: 6px 6px 0 0; }

[data-bs-theme=dark] .host-web-price-item span{
    color: #000 !important;
}

.a111{ width:100%; text-align:center; font-size:1.4rem }
.S234{
    font-size: 1.8rem;
}

.info-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* khoảng cách giữa các cột */
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-list ul li {
    flex: 0 0 calc(33.333% - 16px); /* chia 3 cột */
    text-align: left; /* căn trái nội dung */
    display: flex;
    flex-direction: column;


}
.info-list ul li strong{
    font-size: 110%;
}

.pricing-tab-section {
    margin-top: 0;
    padding-top: 120px;
}
.footer-widget{ margin-bottom:0 }

.with-100{ width:100% !important }

.bd-blog-title{ font-size:1.6rem }

.heading123{ color:#fff; font-size:1.4rem; margin-bottom:.5rem }

.nav-wrapper nav{ text-align: center; }

.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topserach{ width:100%;     display: flex;     margin-top: 24px; }
.topserach input{ width:100%;     padding: 5px 10px; }
.topserach button{ padding:0 10px; }
.pagination{ margin-top:2rem }


.topbar .topbar-right .avatar{ width:30px; height:30px; border-radius:100% }

.bg-none{ border:none; background:none }

.sidebar-widget .widget-title{     padding-bottom: 7px; }

.sidebar-widget .active::before {
    background: linear-gradient(95.45deg, #ff7e5d 0.64%, #ff7e5d 98.23%);
}

.pd-2{ padding:2rem }

@media (max-width: 414px){
    .breadcrumb-content h2{ font-size: 1.2rem; }
    .breadcrumb-area nav ol li{ font-size:.8rem }
    .breadcrumb-item.active{ width:70%;     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .bd-content-wrapper{     padding: 10px; }
    .bd-content-wrapper h1{font-size: 1.5rem}

}