.ds4564 h5{ font-size:2.2rem; margin:1rem 0 }
.ds4564 ul li{
  position: relative;
  padding-left: 30px;
  margin: 1rem 0;
}

.ds4564 ul li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../img/tick.png") no-repeat center / contain;
}
